:root{
    --dark: #102E50;
    --accent: #F5C45E;
    --prim: #E78B48;
    --sec: #BE3D2A;
}

body{
    background: radial-gradient(circle, #E78B48 0%, #e38f53 25%, #df9460 50%, #db9967 75%, #d07330 100%);
    
}
h1{
    font-size: 60px;
    font-weight: 400;
    text-align: center;
    margin-top: 25px;
    margin-right: 450px;
    margin-left:  450px;
    padding-top: 40px;
    padding-bottom: 40px;
    color: var(--accent);
    background:  #102E50cc;
    border-radius: 30px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
/*     
    animation: colorShiftHeading 1s infinite linear */
}

.cont{
    margin-left: 150px;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    gap: 20px;
}
  
.image-grid img {
    margin:40px;
    width: 50%;
    height: auto;
    border-radius: 12px;
    object-fit: fill;
    transition: transform 0.3s ease-in-out;
}

.image-grid img:hover {
    transform: scale(1.1);
    border:5px dashed #BE3D2A
}